
.d-flex {
  background-color: #439B47;
}

.fs-4 {
  color: black; 
  margin-left: 50px;
}

.nav-link {
  color: white;
  margin-right: 50px;
}

.container {
  margin-top: 1%;
}

.products {
  display: flex;
  margin-top: 7%;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  height: 300px;
}
.products a{
  text-decoration: none;
  list-style-type: none;
  display: flex;
  width: 100%;
  color: black;
}

.image {
  width: 40%;
  height: auto; /* Ensure the height is determined by the content */
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image img {
  width: 50%;
  height: 80%;

}

.name-p {
  font-weight: bold;
  font-size: 26px;
  border-bottom: solid 1px black;
}

.price-p {
  font-size: 24px;
}

.paragraph {
  width: 60%;
  margin-left: 20px;
  padding: 10px;
}

.Quantity {
  color: #1E1C1C;
  margin-top: 3px;
  font-size: 15px;
}

.text {
  margin-top: 5px;
  font-size: 18px;
}

button {
  padding: 5px 25px;
  border: none;
  border-radius: 50px;
  background-color: #4CAF50;
  color: white;
  margin-top: 10px;
  font-size: 20px;
}

button:hover {
  background-color: #45a049;
}
